{% extends "shop/base.html" %}

{% block title %}{{ object.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        {% if object.image %}
            <img src="{{ object.image.url }}" class="img-fluid" alt="{{ object.name }}">
        {% endif %}
    </div>
    <div class="col-md-6">
        <h2>{{ object.name }}</h2>
        <p>{{ object.description }}</p>
        <p><strong>Stock:</strong> {{ object.stock }}</p>
        <p><strong>Available:</strong> {{ object.available }}</p>
    </div>
</div>
{% endblock %}
